.profile {
  display: flex;
  height: 32px;
  line-height: 32px;
  margin-bottom: 12px;
  .profile_img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: URL("/profileIMG.png") 100% center / cover;
    margin-right: 12px;
    border: 1px solid #ccc;
  }
  span {
    color: #4db07f;
  }
}
