.board01 {
  display: flex;

  .board01_leftlist {
    box-sizing: border-box;
    padding: 16px 0 0;
    border-radius: 15px;
    flex-shrink: 0;
    width: 320px;
    height: 75vh;
    // min-height: 650px;
    background: #fff;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.08);
    margin-right: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .board01_list {
      overflow: auto;
      flex: 1;
    }
    .board01_pagination {
      border-top: 1px solid #ddd;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.16);
    }
  }

  .pagination_page {
    margin-right: 8px;
    cursor: pointer;
  }
  .pagination_select {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    border-radius: 50px;
  }
  .pagination_page:last {
    margin: 0;
  }

  .board01_rightdetail {
    padding: 28px;
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    max-width: 720px;
    height: 75vh;
    // min-height: 650px;
    overflow: auto;
    background: #fff;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.08);

    .board01_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .board01_title-left {
        width: 100%;
        margin-right: 40px;
      }
      .board01_title-right {
        display: flex;

        .btn {
          margin-right: 16px;
        }
        .btn:last-child {
          margin-right: 0;
        }
      }
    }

    .board01_flexbox {
      display: flex;
      .columns_box {
        padding: 0 20px 40px;
        flex: 1;
        height: 100%;
        h5 {
          margin-bottom: 4px;
        }
      }
      .columns_line {
        width: 10px;
        min-height: 60vh;
        border-left: 1px solid #ddd;
      }
      .columns_box:first-child {
        border: none;
        padding-left: 0;
      }
    }
  }

  hr {
    margin: 20px 0;
  }
}
@media screen and (max-width: 1000px) {
  .board01 {
    margin-left: 0px;
    margin-right: 24px;
    justify-content: center;
    .board01_rightdetail {
      overflow: auto;
      .board01_flexbox {
        display: block;
        height: auto;
        .columns_box {
          padding: 0;
          margin-bottom: 16px;
          border: none;
        }
        .columns_line {
          display: none;
        }
      }
    }
  }
}
