.tag {
  padding: 2px 12px 1px;
  font-weight: 700;
  background: #f1f3f5;
  color: #495057;
  border-radius: 4px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer;
}

.tag_red {
  background: #ffe3e3;
  color: #f03e3e;
}

.tag_pink {
  background: #ffdeeb;
  color: #d6336c;
}

.tag_grape {
  background: #f3d9fa;
  color: #ae3ec9;
}

.tag_violet {
  background: #e5dbff;
  color: #7048e8;
}

.tag_indigo {
  background: #dbe4ff;
  color: #4263eb;
}

.tag_blue {
  background: #d0ebff;
  color: #1c7ed6;
}

.tag_cyan {
  background: #c5f6fa;
  color: #1098ad;
}

.tag_teal {
  background: #c3fae8;
  color: #0ca678;
}

.tag_green {
  background: #d3f9d8;
  color: #37b24d;
}

.tag_lime {
  background: #e9fac8;
  color: #74b816;
}

.tag_yellow {
  background: #fff3bf;
  color: #f59f00;
}

.tag_orange {
  background: #ffe8cc;
  color: #f76707;
}
